# Игнорировать виртуальное окружение
venv/

# Игнорировать файлы и папки, созданные IDE
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать файлы среды
.env